@use "../sass_features/index" as f;
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Alegreya', serif;
}
#grid {
    visibility: none;
    @media (min-width: f.$layout-breakpoint-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
    }
}

// MOBILE HEADER SECTION
#header-section {
    position: relative;
    @media (min-width: f.$layout-breakpoint-tablet) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #mobile-header {
        position: absolute;
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "mobile-button" "logo" ".";
        align-items: center;
        justify-items: center;
        width: 100%;
        z-index: 100;
        @media (min-width: f.$layout-breakpoint-tablet) {
            display: none;
        }
        .mobile-nav__button {
            grid-area: mobile-button;
            .hamburger-bars {
                width: 25px;
                height: 3px;
                background: #FFF;
                margin: 6px 0;
                border-radius: 10px;
            }
        }
        .main-logo__container {
            grid-area: logo;
            .main-logo {
                grid-area: logo;
            }
        }
    }
    .mobile-images__container {
        display: flex;
        overflow: hidden;
        position: relative;
        @media (min-width: f.$layout-breakpoint-tablet) {
            display: none; 
        }
        .mobile-image__1, .mobile-image__2, .mobile-image__3 {
            object-fit: cover;
            min-width: 100%;
        }
        .mobile-image__2, .mobile-image__3 {
            visibility: hidden;
        }
    }
    #slider {
        background: black;
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: space-around;
        bottom: 0;
        right: 0;
        min-width: calc(f.$standard-unit * 8);
        padding: f.$standard-unit;
    }
    // DESKTOP HEADER SECTION
    #desktop-header {
        display: none;
        position: absolute;
        @media (min-width: f.$layout-breakpoint-tablet) {
            display: flex;
            padding: 1.5rem;
            #desktop-navigation {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .desktop-links {
                    display: flex;
                    list-style: none;
                    .desktop-link {
                        margin: 0 f.$standard-unit;
                    }
                }
            }  
        }
    }
    .desktop-images__container {
        display: none;
        @media (min-width: f.$layout-breakpoint-tablet) {
            display: flex;
            .desktop-image__1 {
                object-fit: cover;
            }
            .desktop-image__2, .desktop-image__3 {
                display: none;
                object-fit: cover;
            }
        }
    }
    }
    // DISCOVER SECTION
    #discover-section {
        padding: calc(f.$standard-unit * 2) f.$standard-unit;
        margin: f.$standard-unit 0;
        @media (min-width: f.$layout-breakpoint-tablet) {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            
        }
        #discover-container {
            margin: 0 auto;
            max-width: calc(f.$standard-unit * 22.6);
            line-height: 1.5;
        }
        #discover-title {
            color: map-get(f.$font-colors, heading-black);
            font-weight: 700;
            font-size: calc(f.$standard-unit * 2);
        }
        #discover-description {
            color: map-get(f.$font-colors, text-gray);
            font-weight: 400;
            margin: f.$standard-unit 0;
            max-width: calc(f.$standard-unit * 29);
        }
        #discover-cta {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1ch;
            font-weight: 500;
            font-size: calc(f.$standard-unit);
            color: map-get(f.$font-colors, heading-black);
        }
        #discover-arrow {
            margin: 0 f.$standard-unit;
        }
    }
    // FURNITURE IMAGE SECTION 
    #dark-image__section {
        @media (min-width: f.$layout-breakpoint-tablet) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            
        }
        .dark-image__container {
            overflow: hidden;
            .dark-furniture-image {
                object-fit: cover;
                min-width: 100%;
                @media (min-width: f.$layout-breakpoint-tablet) {
                    min-width: 40%;
                    
                }
            }
        }
    }
    // FURNITURE DESCRIPTION SECTION
    #furniture-description__section {
        margin: f.$standard-unit 0;
        padding: calc(f.$standard-unit * 2) f.$standard-unit;
        @media (min-width: f.$layout-breakpoint-tablet) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .furniture-description__container {
            margin: 0 auto;
            max-width: calc(f.$standard-unit * 22.6);
            .furniture-description__title {
                letter-spacing: 1ch;
            }
            .furniture-description {
                margin: f.$standard-unit 0;
                line-height: 1.5;
            }
        }
    }
    #light-image__section {
        @media (min-width: f.$layout-breakpoint-tablet) {
            grid-column: 3 / 4;
            grid-row: 2 / 3; 
        }
        .light-image__container {
            overflow: hidden;
            .light-furniture__image {
                object-fit: cover;
                min-width: 100%;
            }
        }
    }

    // ATTRIBUTION
    .attribution {
        text-align: center;
    }