@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alegreya", serif;
}

#grid {
  visibility: none;
}
@media (min-width: 768px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

#header-section {
  position: relative;
}
@media (min-width: 768px) {
  #header-section {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
#header-section #mobile-header {
  position: absolute;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "mobile-button" "logo" ".";
  align-items: center;
  justify-items: center;
  width: 100%;
  z-index: 100;
}
@media (min-width: 768px) {
  #header-section #mobile-header {
    display: none;
  }
}
#header-section #mobile-header .mobile-nav__button {
  grid-area: mobile-button;
}
#header-section #mobile-header .mobile-nav__button .hamburger-bars {
  width: 25px;
  height: 3px;
  background: #FFF;
  margin: 6px 0;
  border-radius: 10px;
}
#header-section #mobile-header .main-logo__container {
  grid-area: logo;
}
#header-section #mobile-header .main-logo__container .main-logo {
  grid-area: logo;
}
#header-section .mobile-images__container {
  display: flex;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  #header-section .mobile-images__container {
    display: none;
  }
}
#header-section .mobile-images__container .mobile-image__1, #header-section .mobile-images__container .mobile-image__2, #header-section .mobile-images__container .mobile-image__3 {
  object-fit: cover;
  min-width: 100%;
}
#header-section .mobile-images__container .mobile-image__2, #header-section .mobile-images__container .mobile-image__3 {
  visibility: hidden;
}
#header-section #slider {
  background: black;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-around;
  bottom: 0;
  right: 0;
  min-width: 8rem;
  padding: 1rem;
}
#header-section #desktop-header {
  display: none;
  position: absolute;
}
@media (min-width: 768px) {
  #header-section #desktop-header {
    display: flex;
    padding: 1.5rem;
  }
  #header-section #desktop-header #desktop-navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  #header-section #desktop-header #desktop-navigation .desktop-links {
    display: flex;
    list-style: none;
  }
  #header-section #desktop-header #desktop-navigation .desktop-links .desktop-link {
    margin: 0 1rem;
  }
}
#header-section .desktop-images__container {
  display: none;
}
@media (min-width: 768px) {
  #header-section .desktop-images__container {
    display: flex;
  }
  #header-section .desktop-images__container .desktop-image__1 {
    object-fit: cover;
  }
  #header-section .desktop-images__container .desktop-image__2, #header-section .desktop-images__container .desktop-image__3 {
    display: none;
    object-fit: cover;
  }
}

#discover-section {
  padding: 2rem 1rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  #discover-section {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}
#discover-section #discover-container {
  margin: 0 auto;
  max-width: 22.6rem;
  line-height: 1.5;
}
#discover-section #discover-title {
  color: black;
  font-weight: 700;
  font-size: 2rem;
}
#discover-section #discover-description {
  color: #454545;
  font-weight: 400;
  margin: 1rem 0;
  max-width: 29rem;
}
#discover-section #discover-cta {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1ch;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}
#discover-section #discover-arrow {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  #dark-image__section {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
#dark-image__section .dark-image__container {
  overflow: hidden;
}
#dark-image__section .dark-image__container .dark-furniture-image {
  object-fit: cover;
  min-width: 100%;
}
@media (min-width: 768px) {
  #dark-image__section .dark-image__container .dark-furniture-image {
    min-width: 40%;
  }
}

#furniture-description__section {
  margin: 1rem 0;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  #furniture-description__section {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
#furniture-description__section .furniture-description__container {
  margin: 0 auto;
  max-width: 22.6rem;
}
#furniture-description__section .furniture-description__container .furniture-description__title {
  letter-spacing: 1ch;
}
#furniture-description__section .furniture-description__container .furniture-description {
  margin: 1rem 0;
  line-height: 1.5;
}

@media (min-width: 768px) {
  #light-image__section {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
#light-image__section .light-image__container {
  overflow: hidden;
}
#light-image__section .light-image__container .light-furniture__image {
  object-fit: cover;
  min-width: 100%;
}

.attribution {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
